In [1]:
import pandas as pd

df = pd.read_csv('sample_dataframe.csv')
df

/tmp/ipykernel_11097/4239921246.py:3: DtypeWarning: Columns (46,149,155,170) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('sample_dataframe.csv')

,NUMENCRIPTADO,TIPO_DOCTO,ADU,FORM,FECVENCI,CODCOMUN,NUM_UNICO_IMPORTADOR,CODPAISCON,DESDIRALM,CODCOMRS,...,SIGVAL2,VAL2,OTRO3,CTA3,SIGVAL3,VAL3,OTRO4,CTA4,SIGVAL4,VAL4
0,19913953,151,39,15,27012023,13132,3499,331,NaN,NaN,...,NaN,0,0,NaN,NaN,0,0,NaN,NaN,0
1,19940004,101,48,15,19012023,13107,3351,225,NaN,13101.0,...,NaN,0,0,NaN,NaN,0,0,NaN,NaN,0
2,19968928,101,33,15,9022023,13107,789,220,NaN,5301.0,...,NaN,0,0,NaN,NaN,0,0,NaN,NaN,0
3,19934414,151,34,15,10022023,8108,59,226,NaN,NaN,...,NaN,0,0,NaN,NaN,0,0,NaN,NaN,0
4,19945340,151,48,15,9022023,13125,6611,506,NaN,13101.0,...,NaN,0,0,NaN,NaN,0,0,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,19937372,151,34,15,8022023,13101,11526,522,NaN,NaN,...,NaN,0,0,NaN,NaN,0,0,NaN,NaN,0
9996,19967725,101,48,15,7022023,13123,1723,510,NaN,13101.0,...,NaN,0,0,NaN,NaN,0,0,NaN,NaN,0
9997,19959434,151,14,15,2022023,13125,8229,225,NaN,NaN,...,NaN,0,0,NaN,NaN,0,0,NaN,NaN,0
9998,19939078,101,48,15,14022023,13123,4909,225,NaN,13101.0,...,NaN,0,0,NaN,NaN,0,0,NaN,NaN,0
9999,19944434,151,39,15,4022023,13114,9477,563,NaN,NaN,...,NaN,0,0,NaN,NaN,0,0,NaN,NaN,0

In [ ]:
# We should model the data and normalize it (3NF), given that we have a lot of redundant data.

In [14]:
# PTO_EMB	 Puerto de Embarque
# PTO_DESEM	 Puerto de Desembarque
# Given we have origin and destination, we can get the distance between the two points and calculate the cost of the trip.
# We can also get the time of the trip and the average speed of the ship.

# Lets first create a list of all the ports by making a union of the two columns

ports = list(df['PTO_EMB'].unique())
ports.extend(list(df['PTO_DESEM'].unique()))

In [16]:
print(set(ports))

{512, 522, 541, 542, 543, 551, 553, 554, 561, 563, 564, 565, 569, 571, 572, 576, 581, 586, 589, 591, 592, 593, 594, 595, 596, 598, 601, 602, 603, 611, 612, 621, 622, 111, 112, 623, 114, 116, 117, 632, 633, 122, 123, 121, 642, 643, 131, 134, 136, 137, 651, 140, 141, 142, 143, 146, 150, 151, 156, 158, 159, 160, 173, 174, 175, 180, 699, 713, 207, 210, 212, 213, 217, 220, 221, 222, 223, 224, 231, 232, 241, 242, 251, 252, 261, 262, 264, 265, 266, 269, 270, 271, 272, 281, 799, 291, 292, 293, 294, 296, 811, 301, 813, 899, 901, 902, 903, 905, 906, 907, 908, 909, 399, 911, 912, 915, 917, 918, 411, 412, 413, 926, 925, 422, 423, 949, 952, 441, 442, 443, 444, 445, 957, 958, 451, 452, 453, 965, 967, 981, 472, 989, 992, 997, 998, 491, 492, 499}